<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        {{ if or .Params.author .Params.date }}
                          <p id="metadata-author-date" class="text-muted text-uppercase mb-small text-right">
                            {{ if isset .Params "authors" }}
			                        {{ i18n "authorBy" }} 
                              {{ range $index, $author := .Params.authors }}
                                {{ if $index }}, {{ end }}
                                <a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                            {{ end }}
                            {{ if and .Params.authors .Params.date }} | {{ end }}
                            {{ if .Params.date }}
                              {{ $createdAt := .Date.Format .Site.Params.date_format }}
                              {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                  {{ $createdAt = replace $createdAt $month (i18n $month) }}
                              {{ end }}
                              {{ $createdAt }}
                            {{ end }}
                          </p>
                        {{ end }}

                        <div id="singe-page-content">
                          <article>
                            <figure class="article-figure">
                                <picture class="article-picture">
                                  <source srcset="{{ .Params.banner | relURL }}" type="image/jpeg">
                                  <img 
                                    alt="Illustratiebeeld" 
                                    loading="lazy" 
                                    src="{{ .Params.banner | relURL }}" 
                                    class="article-image"
                                  >
                                </picture>
                              <figcaption class="figcaption">Illustratiebeeld van <span class = "image-attribution">
                                {{ .Params.banner_author }}  via <a href="{{ .Params.banner_site_url }}">{{ .Params.banner_site_title }}</a>
                                </span>
                              </figcaption>
                            </figure>

                            {{ .Content }}
                          </article>
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
