<div id="collection-navigation">
  <h3 class="panel-title collection-navigation-title">
    {{ .Params.collection_navigation_title }}
  </h3>
  
  <div class="collection-navigation-actions">

    {{ if isset .Params "collection_navigation_volgende_url" }}
    <div class="cn-item volgende">
      <a href='{{ .Params.collection_navigation_volgende_url }}'>
        Volgend Artikel →
      </a>
    </div>
    {{ end }}


    {{ if isset .Params "collection_navigation_url" }}
    <div class="cn-item collectie">
      <a href='{{ .Params.collection_navigation_url }}'>
        Alles in deze Collectie 🔎
      </a>
    </div>
    {{ end }}

    {{ if isset .Params "collection_navigation_vorige_url" }}
    <div class="cn-item vorig">
      <a href='{{ .Params.collection_navigation_vorige_url }}'>
        Vorig Artikel ←
      </a>
    </div>
    {{ end }}
  </div>
</div>